@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&family=Montserrat:wght@500;700&display=swap');
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

$customGreen: #23ffb2;
$primary: $customGreen;
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$badge-pill-border-radius: 0;
$font-size-base: 0.95rem;

// Custom Colors
$primaryLight: mix(white, $primary, 50);
$primaryMid: mix(white, $primary, 25);