@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% { transform: rotate(-5deg); }
  10% { transform: rotate(5deg); }
  20% { transform: rotate(-5deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(2deg); }
  55% { transform: rotate(0deg); }
  70% { transform: rotate(-2deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}

.logo-icon {
  display: inline-block;
  transform-origin: bottom center;
}

.rotate-infinite {
  animation: rotate 2s linear infinite;
}

.blog img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.blog iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.blog blockquote {
  border-left: 5px solid var(--mint-9);
  margin: 0;
  padding: 0 0 0 1rem;
  font-style: italic;
  color: var(--mint-9);
}

.blog code {
  background-color: var(--mint-3);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.blog a {
  color: var(--mint-9);
}